extends ../layouts/base.pug

block scripts 
    script(type="module", src="static/scripts/rendering.js")

block styles
    link(rel="stylesheet", href="static/styles/index.css")

block content 
    #scene-container